<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registro de Alunos</title>
</head>
<body>
    <h1>Registrar Aluno</h1>
    <form method="POST">
        Nome: <input type="text" name="name" required><br>
        Foto: <input type="text" name="photo" required><br>
        Turma: <input type="text" name="class" required><br>
        Turno: 
        <select name="shift" required>
            <option value="Manhã">Manhã</option>
            <option value="Tarde">Tarde</option>
        </select><br>
        ID Biométrico: <input type="text" name="fingerprint_id" required><br>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>
